:root{
    --coloruno:rgb(4, 54, 0);
    --colordos:rgb(41, 109, 148);
    --colorblanco: #fff;
    --colortres: rgb(99, 0, 0);
}
.jumbotron{
    background-color:var(--coloruno) ;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--colorblanco); 
    font-family: 'Lobster', cursive; 
    border-bottom: #000 solid 2px;
}
.planes button{
    background-color: var(--coloruno);
    color: var(--colorblanco);

}
.planes button:hover{
    background-color: var(--colordos);
}
.planes button:scope{
    background-color: var(--colortres);
}
footer{
    padding: 10px 0;
    background-color: var(--coloruno);
    margin-bottom: 0px;
    margin-top: 10px;
    color: var(--colorblanco);
    width: 100%;
}
.planes{
    flex-grow: 1;
    flex-basis: 150px;
    padding: 5px;
    justify-content: space-between;
}
.planes p{
    text-align: justify;
}
.btn-adquirir{
    width: 100%;
}
.sedes{
    grid-template-rows: repeat(4, 20px);
    grid-template-columns: calc(100vw/3);
}